/* EventDetails.css */
.event-details-container {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  max-width: 600px;
}

.event-details-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.event-details-content h3 {
  margin-top: 0;
  font-size: 24px;
}

.event-details-content p {
  margin: 10px 0 0;
  font-size: 16px;
}
